#Configuracion de Gemini
#Obtener la clave gratis en: https://aistudio.google.com/
#Crear el archivo .env.local justo donde se encuentra este archivo y colocar la siguiente linea
GEMINI_API_KEY=API_KEY_AQUI