/* Estilos para CarouselControls */

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(var(--scale));
  transform-origin: center;
  transition: transform 0.15s ease;
  
  height: calc(3.75rem * var(--scale, 1));
  width:  calc(3.75rem * var(--scale, 1));

  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid var(--color-border-primary);
  backdrop-filter: blur(8px);
  background: color-mix(in srgb, var(--color-background) 70%, transparent);
}

.carousel-control svg {
  width: 60%;
  height: 60%;
}

.carousel-control:hover:not(:disabled) {
  transform: translateY(-50%) scale(calc(var(--scale) * 1.2));
}

.carousel-control:disabled {
  opacity: 0.0;
  cursor: not-allowed;
}

.carousel-control-left {
  left: calc(8px * var(--scale));
}

.carousel-control-right {
  right: calc(8px * var(--scale));
}

/* Mostrar en pantallas medianas y superiores */
@media (min-width: 640px) {
  .carousel-control {
    display: flex;
  }
}