@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
    /* -- Primarios -- */
    --palette-purple: #532ece;
    --palette-cyan: #44cfe2;
    --palette-black: #1d1d1b;
    --palette-grey: #818181;

    /* -- Secundarios -- */
    --palette-green: #46c5a5;
    --palette-red: #ff6164;
    --palette-white: #f2f2f2;
    --palette-yellow: #ffc500;
    --palette-blue-dark: #2a3176;

    /* Fondos (Backgrounds) */
    --color-background: var(--palette-black);
    --color-foreground: var(--palette-white);
    --color-surface: var(--palette-purple);

    /* Texto (Foregrounds) */
    --color-text-primary: var(--palette-white);
    --color-text-secondary: var(--palette-cyan);
    --color-text-muted: var(--palette-grey);
    --color-text-danger: var(--palette-red);

    /* Botones (Buttons) */
    --color-btn-primary-bg: var(--palette-purple);
    --color-btn-primary-hover-bg: var(--palette-white);
    --color-btn-primary-hover-text: var(--palette-purple);

    --color-btn-secondary-bg: var(--palette-cyan);

    /* Links */
    --color-link-active: var(--palette-cyan);
    --color-link-hover: var(--palette-white);

    /* Acentos y Bordes */
    --color-border-primary: var(--palette-cyan);
    --color-accent-red: var(--palette-red);
    --color-accent-yellow: var(--palette-yellow);
    --color-accent-green: var(--palette-green);

    --background: var(--color-background);
    --foreground: var(--color-foreground);
}

@theme inline {
    /* Fondos */
    --color-background: var(--color-background);
    --color-surface: var(--color-surface);

    /* Texto */
    --color-foreground: var(--color-foreground);
    --color-text-primary: var(--color-text-primary);
    --color-text-secondary: var(--color-text-secondary);
    --color-text-muted: var(--color-text-muted);
    --color-text-danger: var(--color-text-danger);

    /* Botones */
    --color-btn-primary-bg: var(--color-btn-primary-bg);
    --color-btn-primary-hover-bg: var(--color-btn-primary-hover-bg);
    --color-btn-primary-hover-text: var(--color-btn-primary-hover-text);
    --color-btn-secondary-bg: var(--color-btn-secondary-bg);

    /* Links */
    --color-link-active: var(--color-link-active);
    --color-link-hover: var(--color-link-hover);

    /* Acentos y Bordes */
    --color-border-primary: var(--color-border-primary);
    --color-accent-red: var(--color-accent-red);
    --color-accent-yellow: var(--color-accent-yellow);
    --color-accent-green: var(--color-accent-green);

    --font-family-sans: var(--font-mukta);
    --font-family-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--color-background);
        --foreground: var(--color-foreground);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}
