/* Estilos para NoticeCover.module */

.cover {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  background: color-mix(in srgb, var(--palette-grey) 15%, transparent);
  border-radius: 0.5rem;
  overflow: hidden;
}

.image {
  object-fit: contain;
}